<!DOCTYPE html>
<html>
    
    <head>
        <!--[if IE]>
            <script type="text/javascript" src="../excanvas.js"></script>
        <![endif]-->
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.highcharts.com/stock/highstock.js">
            
        </script>
    </head>
    
    <body>
        <div id="container" style="height: 400px"></div>
        <script>
            $(function () {
                $(document).ready(function () {
                    // gathers hlt data when brewid is selected
                    $("#brewdown").change(function() {
                        brewid = $('#brewdown option:selected').val();
                        var hltfull_url = "hlt_full/" + brewid;
                        $.getJSON(hltfull_url, function (data){
                            chart.series[0].setData(data,true);
                        });
                        return false; 
                    });
                    $("#hltform").submit(function () {
                        $.post($("#hltform").attr("action"), $("#hltform").serialize(), function (data) {
                        });
                        return false;
                    });

                    Highcharts.setOptions({
                        global: {
                            useUTC: false
                        }
                    });
                    //Function bits
                    function requestData(event) {
                        var hltnew_url = "hlt_new/" + brewid;
                        $.getJSON(hltnew_url, {
                            time: $('input[name="time"]').val(),
                            temp: $('input[name="temp"]').val(),
                            temp: $('input[name="target"]').val()
                        }, function (data) {
                        document.getElementById('currenttemp').innerHTML = data.temp;
                        document.getElementById('currenttarget').innerHTML = data.target;
                        chart.series[0].addPoint([data.time, data.temp], true);
                        });
                    };

                    
                    $('#brewdown').val(0);
                    $('#brewdown').change();
                    
                    brewid = $('#brewdown option:selected').val();
                    var chart;

                    //Chart bits
                    chart = new Highcharts.StockChart({
                        chart: {
                            renderTo: 'container',
                            type: 'spline',
                            zoomType: 'x',
                            events: {
                                load: requestData
                            }
                        },
                        xAxis: {
                            type: 'datetime',
                            title: {
                                text: 'Time'
                            },
                            tickPixelInterval: 150

                        },
                        yAxis: {
                            title: {
                                text: 'Temperature'
                            }
                        },
                        rangeSelector: {
                            buttons: [{
                                type: 'second',
                                count: 30,
                                text: '30s'
                            }, {
                                type: 'minute',
                                count: 1,
                                text: '1m'
                            }, {
                                type: 'minute',
                                count: 2,
                                text: '2m'
                            }, {
                                type: 'minute',
                                count: 5,
                                text: '5m'
                            }, {
                                type: 'minute',
                                count: 15,
                                text: '15m'
                            }, {
                                type: 'all',
                                text: 'All'
                            }],
                            inputEnabled: false
                        },
                        series: [{
                            name: 'Temperature',
                            data: []
                        }]
                    });
                    setInterval(requestData, 4000);
                });
            });
        </script>
        <p>Current Temp:  <b id=currenttemp>??</b>
        <br/>
        Current Target: <b id=currenttarget>??</b>
        </p>
        <form id="hltform" method="post" action="/changehlttemp">
            <p>
                <label>Target Temp:</label>
                <input type="text" name="hlttemp" required>
            </p>
            <select name="brewdown" id="brewdown"  required>
                {% for id in brewid %}
                <option value="{{ id[0] }}">{{ id[1] + " - " + id[2] }}</option>{% endfor %}</select>

            <br/>
            The following do nothing..
            <br/>
            <select name="sensordown" id="sensordown" required>
                {% for sensor in sensors %}
                <option value="{{ sensor[0] }}">{{ sensor[1] }}</option>{% endfor %}</select>
            <select name="elementdown" id="elementdown" required>
                {% for element in elements %}
                <option value="{{ element[0] }}">{{ element[1] }}</option>{% endfor %}</select>
            <p>
               <button type="submit" id="newtempbtn">Send</button>
            </p>
        </form>
    </body>

</html>
