<html>
    <head>
        <style>
            {% for item in kettles %}
            #{{ item|e }} {
                width: 250px; height: 200px;
                {% if kettles[item].state != "off" %}
                display: inline-block;
                {% else %}
                display: none;
                {% endif %}
                margin: 1em;

            }
            {% endfor %}
        </style>

        <script src="static/js/raphael.2.1.0.min.js"></script>
        <script src="static/js/justgage.1.0.1.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript">
            {% for item in kettles %}
            var {{ item|e }};
            {% endfor %}
            window.onload = function(){
                {% for item in kettles %}
                var {{ item|e }} = new JustGage({
                    id: "{{ item|e }}",
                    value: {{ kettles[item].temp|e }},
                    min: 0,
                    max: 212,
                    title: "{{ item|e }}",
                    label: "Fahrenheit",
                    });
                {% endfor %}
            setInterval(
                function (){
                $.getJSON("latest", {

                    }).done(function( data) {
                        {% for item in kettles %}
                        {{ item|e }}.refresh(data["{{ item }}"]["temp"]);
                        if (data["{{ item|e }}"]["state"] != "off"){
                            document.getElementById("{{ item|e }}").style.display = 'inline-block';
                            }
                        else {
                            document.getElementById("{{ item|e }}").style.display = 'none';
                        }
                        {% endfor %}

                        document.getElementById("status").innerHTML = "";
                        $.each(data, function(name,data){
                            if (data["state"] != "off"){
                                var temp = parseFloat(data["temp"]).toFixed(2);
                                var thediv = document.getElementById("status");
                                var outstring = name + " is at " + data["temp"];
                                if (data["state"] == "control"){
                                    outstring = outstring + " and is aiming for " + data["target"];
                                };
                                thediv.innerHTML += outstring + "<br/>";
                        
                            };
                            });
                            
                        });
                },5000);
            };
        </script>

    </head>

    <body>
        <h1>
        	Status
        </h1>
        <h1>
            <div id="status">
        {% for item in kettles %}
            {% if kettles[item].state != "off" %}
            {{ item|e }} is at {{ kettles[item].temp|e }} {% if kettles[item[state]] == "control" %} and is aiming for {{ kettles[item].target|e }} {% endif %}
                <br />
            {% endif %}
        {% endfor %}

    </div>
</h1>
{% for item in kettles %}
    <div id ="{{ item|e }}"></div>
    {% endfor %}
    <h1>
		Configuration
	</h1>
	<form action="/configure" method="post">
	{% for item in kettles %}
	<b>{{ item|e }}:</b> 
	<UL>

        <LI><select name="{{ item|e }}_state">
            <option value="off" {% if kettles[item].state == "off" %} selected {% endif %}>Off</option>
            <option value="monitor" {% if kettles[item].state == "monitor" %} selected {% endif %}>Monitor</option>
            <option value="control" {% if kettles[item].state == "control" %} selected {% endif %}>Control</option>
		<LI>Target <input name="{{ item|e  }}_target" type=number value={{ kettles[item].target|e }}></LI>
	</UL>
	{% endfor %}
	<input type="submit" value="Update configuration">
	</form
     </body

</html>
