<html>
    <body>
        <h1>
        	Status
	</h1>
        
        <p>
        
        
        {% for item in kettles %}
            {% if kettles[item].enabled %}
                {{ item|e }} is at {{ kettles[item].temp|e }} and is aiming for {{ kettles[item].target|e }}
                <br />
            {% endif %}
        {% endfor %}

        </p>
	<h1>
		Configuration
	</h1>
	<form action="/configure" method="post">
	{% for item in kettles %}
	<b>{{ item|e }}:</b> 
	<UL>

		<LI>Enabled<input name="{{ item|e }}_enabled" type=checkbox {% if kettles[item].enabled %} checked {% endif %}></input></LI>
		<LI>Target <input name="{{ item|e  }}_target" type=number value={{ kettles[item].target|e }}></LI>
	</UL>
	{% endfor %}
	<input type="submit" value="Update configuration">
	</form
     </body

</html>
